<div class="flex flex-col items-center justify-center mt-10 gap-6">
    <div class="flex items-center gap-4">
        <div class="w-20 h-px bg-text-sub-color lg:w-100"></div>
        <h1 class="text-3xl text-text-color whitespace-nowrap">About Me</h1>
        <div class="w-20 h-px bg-text-sub-color lg:w-100"></div>
    </div>

    <div class="text-center max-w-xl mt-10">
        <h2 class="text-3xl font-semibold text-text-color mb-2">I'm Prabu Kannan</h2>
        <p class="text-base text-text-sub-color mx-3 lg:text-lg">
            I'm a creative front-end developer passionate about building responsive and user-friendly web interfaces.
        </p>
    </div>

    <div class="md:w-full">
      <h2 class="text-center text-3xl text-purple-400 font-extrabold mt-10">Education</h2>
      <div class="grid grid-cols-1 lg:grid-cols-3 gap-5 mt-8 lg:ms-10 lg:me-10 ">
        <div class="shadow-[0_0_10px_#a855f7] rounded-xl p-6 m-2 hover:scale-105 transition-transform duration-300  ">
          <h3 class="text-2xl text-center text-text-color font-black">Secondary School</h3>
          <h4 class="xl text-text-color  font-extrabold mt-3">Sivanthi Matric Higher Secondary School</h4>
          <h5 class="text-text-sub-color font-semibold mt-3">2017-2028</h5>
          <h5 class="text-text-sub-color font-medium mt-3">Percentage: 84.2%</h5>
        </div>
    
    
        <div class="shadow-[0_0_10px_#a855f7] rounded-xl p-6 m-2 hover:scale-105 transition-transform duration-300 ">
          <h3 class="text-2xl text-center text-text-color font-black">Higher SECONDARY</h3>
          <h4 class="xl text-text-color font-extrabold mt-3">Sivanthi Matric Higher Secondary School</h4>
          <h5 class="text-text-sub-color font-semibold mt-3">2019 - 2020</h5>
          <h5 class="text-text-sub-color font-medium mt-3">Percentage: 68.4%</h5>
        </div>
    
        <div class="shadow-[0_0_10px_#a855f7] rounded-xl p-6 m-2 hover:scale-105 me-5 transition-transform duration-300 ">
          <h3 class="text-2xl text-center text-text-color font-black">Under Graduation</h3>
          <h4 class="xl text-text-color font-extrabold mt-3">Francis Xavier Engineering College</h4>
          <h5 class="text-text-sub-color font-semibold mt-3">2020 - 2024</h5>
          <h5 class="text-text-sub-color font-medium mt-3">B.E Mechanical Engineering: <span>8.41 CGPA</span></h5>
        </div>
      </div>
    </div>

    <div>
        <h1 class="text-center text-3xl text-purple-400 font-extrabold mt-10">Experience</h1>
        <div
          class="shadow-[0_0_15px_#a855f7] max-w-sm rounded-xl p-6 h-auto w-full md:max-w-2xl mx-auto hover:shadow-[0_0_20px_#a855f7] hover:scale-105 transition-transform duration-300 mt-10">
          <h2 class="text-xl text-text-sub-color font-extrabold text-center">Associate Software Engineer</h2>
          <p class="text-xl text-text-sub-color font-bold mt-5">Adaptive Development Private Limited, Tirunelveli</p>
          <p class="text-xl text-text-sub-color font-bold mt-3">August 2024 – Present</p>
        
        </div>

        <div class="mt-16 px-4">
            <h3 class="text-xl font-extrabold text-purple-400 text-center mb-10">🚀 Projects Worked On</h3>
          
            <div class="shadow-[0_0_15px_#a855f7] rounded-xl p-6 max-w-2xl mx-auto mb-10 hover:scale-[1.02] transition-all duration-300">
              <h4 class="text-2xl text-purple-300 font-bold text-center"> Pet Parent </h4>
              <ul class="list-decimal list-inside text-text-sub-color text-lg font-semibold mt-3">
                <li>Made it easy for pet owners to save and manage vet records using a unique email and one-tap import.</li>
                <li class="mt-3">Helped users scan pet passports and store travel info like vaccines and microchip details in one place.</li>
                <li class="mt-3">Added emergency tools to find nearby vets fast, get first-aid tips, and share pet info instantly.</li>
                <li class="mt-3">Used smart AI to answer pet health questions and even scan poop to check for early health issues.</li>
              </ul>
            </div>
          
            <div class=" shadow-[0_0_15px_#a855f7] rounded-xl p-6 max-w-2xl mx-auto  hover:scale-[1.02] transition-all duration-300">
              <h4 class="text-2xl text-purple-300 font-bold text-center">Safe In Spain </h4>
              <ul class="list-decimal list-inside text-text-sub-color text-lg font-semibold mt-3">
                <li>Created a smooth insurance sign-up experience for users living in Spain through the ASISA website.</li>
                <li class="mt-3">Users can choose a health insurance plan based on their needs and see the best available pricing offers.</li>
                <li class="mt-3">Made the process easy with step-by-step guidance and clear comparison of plan benefits.</li>
                <li class="mt-3">Focused on making health coverage simple, fast, and fully online for non-Spanish residents in Spain.</li>
              </ul>
            </div>
          </div>
          
    </div>

    <div class="flex flex-col gap-8 lg:gap-x-60 lg:mt-10 lg:flex-row mb-10">
        <button routerLink="/"
            class="text-xl text-white border border-purple-600 rounded-tl-2xl rounded-br-2xl px-6 py-2 hover:bg-purple-800">
           Home
        </button>

        <a routerLink="/projects" class="text-xl text-white hover:text-purple-400 font-semibold flex items-center">My Skills
          <span class="material-icons ml-2 text-purple-400">
            arrow_right_alt
            </span>
          </a>
    </div>
</div>