<div class="lg:p-50 md:px-20 flex flex-col lg:flex-row justify-between items-center lg:items-start overflow-hidden">
    <div class="flex flex-col items-center justify-center order-1 lg:order-2 mb-10 lg:mb-0 md:ms-15">
        <img src="/imgs/prabu.png" alt="my photo" class="h-64 w-64 mt-10 lg:mt-0 object-cover">

        <div class="flex flex-row gap-x-8 mt-10 text-2xl text-text-color ">
            <a class="border-2 border-border rounded-tl-xl rounded-br-xl h-10 w-10 flex items-center justify-center hover:text-purple-400"
                href="https://www.facebook.com/rajraja.rajraja.758" target="_blank"><i
                    class="fa-brands fa-facebook-f"></i></a>
            <a class="border-2 border-border rounded-tl-xl rounded-br-xl h-10 w-10 flex items-center justify-center hover:text-purple-400"
                href="https://x.com/PrabuKanna26482" target="_blank"><i class="fa-brands fa-twitter"></i></a>
            <a class="border-2 border-border rounded-tl-xl rounded-br-xl h-10 w-10 flex items-center justify-center hover:text-purple-400"
                href="https://www.instagram.com/mass_raja_vfc?igsh=MWFpMnNheGdqMTJydg==" target="_blank"><i
                    class="fa-brands fa-instagram"></i></a>
            <a class="border-2 border-border rounded-tl-xl rounded-br-xl h-10 w-10 flex items-center justify-center hover:text-purple-400"
                href="https://www.linkedin.com/in/prabu-kannan-986b5827b?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
                target="_blank"><i class="fa-brands fa-linkedin"></i></a>
            <a class="border-2 border-border rounded-tl-xl rounded-br-xl h-10 w-10 flex items-center justify-center hover:text-purple-400"
                href="https://github.com/PrabuKannan18" target="_blank"><i class="fa-brands fa-github"></i></a>
        </div>
    </div>

    <div class="flex flex-col order-2 lg:order-1">
        <h1 class="font-semibold sm:flex ms-35 lg:text-5xl text-3xl lg:ms-0  text-text-color">I'am Prabu Kannan</h1>
        <p
            class="sm:flex ms-25 items-center justify-center flex-wrap max-w-95 text-base mt-8 lg:text-xl lg:max-w-150  lg:ms-0  text-text-sub-color ">
            I’m a passionate Angular & Ionic developer focused on building fast, responsive web and mobile apps.
        </p>
        <div
            class="mt-10 flex flex-col items-center justify-center gap-y-10 lg:mt-40 lg:flex-row lg:justify-between w-140 text-white">
            <a href="imgs/PrabuResume.pdf" download
                class="border border-purple-500 rounded-tl-xl rounded-br-xl p-3 hover:bg-purple-800 order-2 lg:order-1 inline-block text-center">
                Download CV
            </a>
            <button routerLink="/projects" class="flex items-center font-semibold order-1 lg:order-2 hover:text-violet-300">
                <span class="flex items-center justify-center bg-white h-10 w-10 rounded-full">
                    <i class="fa-solid fa-play text-red-700"></i>
                </span>
                <span class="ms-3">My projects</span>
            </button>
        </div>
    </div>


</div>