<div class="flex flex-col justify-center lg:flex-row">
    <div class="mt-5 text-center">
        <h1 class="text-4xl text-text-color font-bold">My Projects</h1>
        <p class="text-text-sub-color text-base mt-2 mx-auto">
            A curated collection of web and mobile applications showcasing my expertise in modern front-end development
            and UI design.
        </p>
        <div class="grid grid-cols-1 justify-items-center md:grid-cols-2 gap-x-30 gap-y-10 px-2 lg:px-10 mt-6 ">
            <div class="shadow-xl/50 flex flex-col max-w-sm">
                <img src="imgs/product.png" class="h-38 w-full object-fill rounded-lg mb-4 " alt="Product Project">

                <h5 class="text-white text-2xl font-semibold m-2 flex items-start">Product Sale Website</h5>

                <div class="flex gap-1 text-sm text-text-sub-color mb-4">
                    <span class=" px-2 py-1 rounded">Bootstrap</span>
                    <span class=" px-2 py-1 rounded">Angular</span>
                    <span class=" px-2 py-1 rounded">Firebase</span>
                </div>

                <div class="flex justify-between ps-3 pe-3 pb-5">
                    <a href="https://product-66ae3.web.app/" target="_blank"
                        class="border border-purple-500 rounded-tl-xl rounded-br-xl p-2 hover:bg-purple-800 text-white">
                        Live Demo
                    </a>
                    <a href="https://github.com/PrabuKannan18/product-management-app" target="_blank"
                        class="border border-purple-500 rounded-tl-xl rounded-br-xl p-2 hover:bg-purple-800 text-white">
                        View Source Code
                    </a>
                </div>
            </div>
            <div class="shadow-xl/30 flex flex-col max-w-xs">
                <img src="imgs/whatsapp.png" class="h-38 w-full object-fill rounded-lg mb-4 " alt="whatsapp Clone">

                <h5 class="text-white text-2xl font-semibold m-2 flex items-start">Whatsapp Clone</h5>

                <div class="flex gap-1 text-sm text-text-sub-color mb-4">
                    <span class=" px-2 py-1 rounded">Ionic</span>
                    <span class=" px-2 py-1 rounded">Angular</span>
                </div>

                <div class="flex justify-between ps-3 pe-3 pb-5">
                    <a href="https://whatsapp-f646c.web.app/" target="_blank"
                        class="border border-purple-500 rounded-tl-xl rounded-br-xl p-2 hover:bg-purple-800 text-white">
                        Live Demo
                    </a>
                    <a href="https://github.com/PrabuKannan18/Whatsapp" target="_blank"
                        class="border border-purple-500 rounded-tl-xl rounded-br-xl p-2 hover:bg-purple-800 text-white">
                        View Source Code
                    </a>
                </div>
            </div>
            <div class="shadow-xl/30 flex flex-col max-w-sm">
                <img src="imgs/recipes.png" class="h-38 w-full object-fill rounded-lg mb-4 " alt="recipes">

                <h5 class="text-white text-2xl font-semibold m-2 flex items-start">Recipes Website</h5>

                <div class="flex gap-1 text-sm text-text-sub-color mb-4">
                    <span class=" px-2 py-1 rounded">Ionic</span>
                    <span class=" px-2 py-1 rounded">Angular</span>
                    <span class=" px-2 py-1 rounded">Firebase</span>
                </div>

                <div class="flex justify-between ps-3 pe-3 pb-5">
                    <a href="https://recipes-7a3da.firebaseapp.com/" target="_blank"
                        class="border border-purple-500 rounded-tl-xl rounded-br-xl p-2 hover:bg-purple-800 text-white">
                        Live Demo
                    </a>
                    <a href="https://github.com/PrabuKannan18/recipe-app" target="_blank"
                        class="border border-purple-500 rounded-tl-xl rounded-br-xl p-2 hover:bg-purple-800 text-white">
                        View Source Code
                    </a>
                </div>
            </div>
            <div class="shadow-xl/30 flex flex-col max-w-xs">
                <img src="imgs/Food cart.png" class="h-38 w-full object-fill rounded-lg mb-4 " alt="Food Cart">

                <h5 class="text-white text-2xl font-semibold m-2 flex items-start">Food cart Website</h5>

                <div class="flex gap-1 text-sm text-text-sub-color mb-4">
                    <span class=" px-2 py-1 rounded">Bootstrap</span>
                    <span class=" px-2 py-1 rounded">React Js</span>
                </div>

                <div class="flex justify-between ps-3 pe-3 pb-5">
                    <a href="https://prabukannan18.github.io/Food-cart/" target="_blank"
                        class="border border-purple-500 rounded-tl-xl rounded-br-xl p-2 hover:bg-purple-800 text-white">
                        Live Demo
                    </a>
                    <a href="https://github.com/PrabuKannan18/Food-cart" target="_blank"
                        class="border border-purple-500 rounded-tl-xl rounded-br-xl p-2 hover:bg-purple-800 text-white">
                        View Source Code
                    </a>
                </div>
            </div>
        </div>

        <div class="flex flex-col lg:flex-row items-center justify-center gap-8 lg:gap-x-60 mt-8 lg:mt-10 mb-10">
            <button routerLink="/"
              class="text-xl text-white w-32 border border-purple-600 rounded-tl-2xl rounded-br-2xl px-6 py-2 hover:bg-purple-800 transition-colors duration-200">
              Home
            </button>
          
            <a routerLink="/projects"
              class="text-xl text-white hover:text-purple-400 font-semibold flex items-center transition-colors duration-200">
              My Skills
              <span class="material-icons ml-2 text-purple-400">
                arrow_right_alt
              </span>
            </a>
          </div>
    </div>
</div>